/* body::before{
  content:"";
  width: 100%;
  top:0px;
  position: absolute;
  background: url('../public/img.jpg')no-repeat center center;
  height: 100%;
  z-index: -1;
} */

body{
 background-color: rgb(0, 0, 0);}
ul{
    display: flex;
}
li{
    list-style: none;
    padding: 2px 8px ;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
}
 nav{
     background-color: rgb(18, 147, 207);
     padding: 9px 9px;
 }

 span{
     font-style: italic;
     font-weight: bold;
     color: gold;
 }
 .container{
     padding: 3px;
     font-size: 20px;
     color: white;
     text-align: center;
     max-width: 70%;
     margin: 12px auto;
     background-color: rgb(18, 147, 207);
 }
 /* label{
     margin-left: 29%;
     padding-bottom: 4px;
     color: rgb(0, 0, 0);
     /* font-weight: bold; */
     /* font-size: 18px; */ 
 /* input{
     max-width: 50%;
     align-self: center;
     border-radius: 8px;
 } */
 .butt{
     margin-top: 10px;
     background-color: yellow;
 }
 form{
     padding: 15px;
     background-color: rgb(18, 147, 207);
     border: 2px solid black;
     max-width: 50%;
     margin: auto;
     display: flex;
     flex-direction: column;
 }